using System;
public class {{&Nombre}}
{
    public {{&Nombre}}()
    {
    }    
    {{#propiedades}}
    {{#atributo}}[{{atributo}}]{{/atributo}}
    public {{tipo}} {{nombre}} { get; set;}
    {{/propiedades}}

    

}