
export class {{&Nombre}} {
    actionName: string;
    type: string;
    schema: string;
    constructor() { }     
    {{#propiedades}}
    {{#atributo}}[{{atributo}}]{{/atributo}}
    public {{nombre}} : {{tipo}} ;
    {{/propiedades}}   

}